.slider {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 80px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.slider::before {
  content: "";
  height: 54px;
  width: 54px;
  top: 13px;
  left: 10px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
input:checked + .slider{
    background-color: blueviolet;
}
input:checked + .slider::before{
    transform: translateX(85px);
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
